* {
  box-sizing: border-box;
}
html,
body {
  padding: 1rem;
  min-height: 100%;
}

div {
  padding: 3rem;
  min-height: 100%;
  background: #fff;
  color: #000;
  font-family: Arial;
}

body {
  font-size: 1.4rem;
  text-rendering: optimizeLegibility;
}

h1 {
  font-size: 5rem;
  margin-top: -1rem;
  margin-bottom: 1rem;
}

.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 400px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

.a1 {
  padding: 6px 2px 6px 0px;
  margin-left: 1.5rem;
  text-decoration: none;
  font-size: 15px;
  color: #ffffff;
  display: block;
}

.a2 {
  padding: 6px 2px 6px 0px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #000;
}

/* Style page content */
.main {
  margin-left: 450px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

@media print and (max-width: 600px) {
  .sidenav {
    display: none;
  }
  .main {
    display: block;
    margin-left: 0px;
    page-break-before: always;
  }
}
